<div class="sideBox" role="main">
    <a routerLink="/">Login</a>
<a routerLink="inbox">Inbox</a>
<a routerLink="admin-dashboard">Admin Dashboard</a>
<hr>
  Login
    <!--<md-content md-scroll-y flex layout-padding  fxShow.xs="false" fxShow.sm="false" fxShow.gt-md="false" fxShow="false">
        <div class="logo"><span>RevGain</span></div>
        <p class="white">{{'WelcomeTo' | translate}} RevGain<br>{{'LoginMsg' | translate}}</p>
        <form ng-submit="Login()" name="loginForm" autocomplete="off" novalidate>
            <md-content class="md-no-momentum">
                <md-input-container class="md-icon-float md-block">
                    <label>{{'UserName' | translate}}</label>
                    <md-icon md-svg-icon="email"></md-icon>
                    <input type="email" name="userName" ng-model="email" ng-minlength="10" ng-maxlength="100" ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="loginForm.userName.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">{{'UserNameInvalid' | translate}}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>{{'Password' | translate}}</label>
                    <md-icon md-svg-icon="lock"></md-icon>
                    <input type="password" name="password" ng-model="pwd" ng-minlength="4" ng-maxlength="20" required>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength']">{{'PasswordErroe' | translate}}</div>
                    </div>
                </md-input-container>
                <div layout="column" layout-align="center center"><md-button class="md-raised md-warn" ng-disabled="!loginForm.$valid" type="submit">{{'Login' | translate}}</md-button></div>
            </md-content>
        </form>
    </md-content>-->
</div>


<!--<p>
  login works!
</p>
<button mat-raised-button color="primary">Click me!</button>
<mat-checkbox>Check me!</mat-checkbox>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </mat-sidenav>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div>

</mat-sidenav-container>-->